<div class="password-container row mx-auto">
    <div class="col-lg-7 col-md-6 col-sm-0 px-0 img-container">
        <div class="password-img">
        </div> 
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="password-form d-flex align-items-center justify-content-center">
            <div>
                <h4 class="text-center pb-4 mb-4"><span class="text-purple font-weight-bold">Forgot </span> Password?
                </h4>
                <p class="pb-4 mb-4 " style="width: 300px;">Enter the email address you used when you joined
                    and we'll send you instruction to reset your password. </p>
                <form action="">
                    <div class="my-3 mb-5">
                        <label for="">Email Address</label>
                        <input type="text" class="text-control">
                    </div>
                    <div class="text-center my-4">
                        <button class="btn bg-purple text-white">send Request</button>
                        <p (click)="login()" class="fs-14 pt-3 text-purple cursor-pointer"><i
                                class="fa-solid fa-angle-left"></i> Back to Login</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>