.password-img {
    width: 100%;
    height: 100vh;
    background: url(../../../assets/img/uwp2028514.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.password-form {
    height: 100vh;
}

@media screen and (max-width: 767px) {
    .img-container {
        display: none;
    }
}