<div class="reset-password-container row mx-auto">
    <div class="col-lg-7 col-md-6 col-sm-0 px-0 img-container">
        <div class="reset-password-img">
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="reset-password-form d-flex align-items-center justify-content-center">
            <div>
                <h4 class="text-center pb-4 mb-3"><span class="text-purple font-weight-bold">Reset </span>account Password
                </h4>
                <p class="text-center pb-4 mb-4 text-purple" style="width: 300px;">Enter new password for wesite. </p>
               
                <form action="">
                    <div class="my-3">
                        <label for="">New password</label>
                        <input type="text" class="text-control">
                    </div>
                    <div class="my-3">
                        <label for="">Confirm password</label>
                        <input type="text" class="text-control">
                    </div>
                    <div class="text-center my-4 mt-5">
                        <button class="btn bg-purple text-white">Reset Password</button>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

