<div class="container">
    <div class="logo">
        <p class="airline-title">AIRLINE <i class="fa-solid fa-ticket"></i></p>
    </div>
    <div class="components">
        <P><i class="fa-solid fa-user"></i> User</P>
        <P><i class="fa-solid fa-plane-up"></i> Air Lines </P>
        <P><i class="fa-solid fa-file-circle-check"></i> Booking</P>
        <P><i class="fa-solid fa-table-list"></i> Flights schedules</P>
    </div>
    <div class="footer"> 
        <div class="profile">
            <img style="width: 30px; " src="../../../assets/img/110923_man_512x512.png">

            <div class="dropdown">
                <p class=" adminname dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Admin_name
                </p>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item">Profile</a></li>
                    <li><a class="dropdown-item"> Setting</a></li>
                    <li>
                        <hr>
                    </li>
                    <li><a class="dropdown-item">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>