* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}


.fs-14 {
    font-size: 14px;
}

.text-control {
    width: 100%;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid grey;
}

.btn {
    padding: .5rem 1rem;
}
.btn:hover{
    background-color: #29448b;
}

input {
    outline: none;
}

.text-purple {
    color: #29448b;
}

.bg-purple {
    background-color: #29448b;
}

.cursor-pointer{
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
