/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.box-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.box-wrapper .layout {
    width: 70%;
    height: 80vh;
    margin: auto;
    padding: 1.5rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 5px 0px 20px;
}

.header {
    justify-content: space-between;
    align-items: center;

}

.add-button {
    background-color: rgb(12, 12, 226);
    padding: 9px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;


}